body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .container {
    padding: 0 15px;
    min-height: 100vh;
    justify-content: center;
    background: #f0f2f5;
  }
  
  .facebook-page {
    max-width: 1000px;
    width: 100%;
  }
  
  .facebook-page .text {
    margin-bottom: 90px;
  }
  
  .facebook-page h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  facebook-page p {
    font-size: 1.75rem;
    white-space: nowrap;
  }
  